@page "/FAQ"

<PageTitle>FAQ</PageTitle>
<h1>FAQ</h1>

<article>
	<div class="divider"><h1>Where do the pets come from?</h1></div>
	<p>
		Annie’s Cat Sanctuary receives animals from individuals who are no longer able to care 
		for their pets, from other shelters that lack placement resources in their area, and we
		also provide adoption services to animals that are lost, brought in as strays, abandoned,
		or seized in humane investigation cases.
	</p>
</article>

<article>
	<div class="divider"><h1>Do the pets in the adoption center have a time limit?</h1></div>
	<p>
		There is no time limit for how long an animal stays in our adoption centers. We are a no
		kill shelter.
	</p>
</article>

<article>
	<div class="divider"><h1>How do I meet an animal I’m interested in adopting?</h1></div>
	<p>
		You’re welcome to visit the shelter anytime during adoption business hours to meet an animal
		you’re interested in adopting. Once at the shelter, staff and volunteers are available to assist
		you.
	</p>
</article>

<article>
	<div class="divider"><h1>Do I have to be a certain age to visit with a pet?</h1></div>
	<p>
		For safety reasons, we ask that anyone 17 years old or younger is accompanied by an adult when
		visiting with an animal.
	</p>
</article>

<article>
	<div class="divider"><h1>Do I need to fill out an adoption application?</h1></div>
	<p>
		We use an interview process to ensure that each animal adopted will be matched with a compatible
		new owner. There is no application form to complete before you visit however if you do plan to
		adopt an animal you must fill one out before you are allowed to adopt the animal.
	</p>
</article>

<article>
	<div class="divider"><h1>How long will the adoption process take?</h1></div>
	<p>
		It can take a couple days depending on when we receive your application and if you are ready to
		adopt right away.
	</p>
</article>

<article>
	<div class="divider"><h1>What if my new pet doesn’t work out?</h1></div>
	<p>
		Both you and your new pet will need time to get better acquainted and adjust. For some pets the
		transition is quick and easy. Others may need more time and help from you to acclimate their new
		environment. If the pet still doesn’t adjust to your home within 60 days we can reevaluate the
		adoption and if does not work out we will take the animal back.
	</p>
</article>

<article>
	<div class="divider"><h1>What if my new pet gets sick?</h1></div>
	<p>
		Once your adoption is finalized, you will be responsible for all medical bills and decisions
		regarding your pet. However, if a new health problem (not noted at the time of adoption) develops
		within 30 days after your pet’s adoption date, we can provide up to 30 days of oral or topical
		medication with a prescription from your veterinarian.
	</p>
</article>

<article>
	<div class="divider"><h1>What if I can no longer care for my adopted pet?</h1></div>
	<p>
		If at any time you can no longer care for your adopted pet and are unable to re-home the pet
		yourself, you may surrender your pet to Annie’s Cat Sanctuary.
	</p>
</article>

@code {

}
