@page "/policy"

<PageTitle>Policy</PageTitle>

<article>
	<div class="divider"><h1>Adoption Policy</h1></div>


	<ul>
		<li>Must be at least 18.</li>
		<li>Provide valid identification.</li>
		<li>Complete an application.</li>
		<li>Undergo an interview with adoption staff.</li>
		<li>Have a home visit.</li>
		<li>Have a meet and greet between you and the animal you are interested in.</li>
		<li>Pay for the adoption fee.</li>
	</ul>
</article>


@code {

}
