@page "/pets/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorSignalRApp.Models
@inject IDbContextFactory<BlazorSignalRApp.Data.BlazorSignalRAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Pets</h2>
<hr />
@if (Pets is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Pets" OnValidSubmit="UpdatePets" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Pets.Id" value="@Pets.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Pets.Name" class="form-control" />
                    <ValidationMessage For="() => Pets.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="birthdate" class="form-label">BirthDate:</label>
                    <InputDate id="birthdate" @bind-Value="Pets.BirthDate" class="form-control" />
                    <ValidationMessage For="() => Pets.BirthDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="healthstatus" class="form-label">HealthStatus:</label>
                    <InputText id="healthstatus" @bind-Value="Pets.HealthStatus" class="form-control" />
                    <ValidationMessage For="() => Pets.HealthStatus" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="breed" class="form-label">Breed:</label>
                    <InputText id="breed" @bind-Value="Pets.Breed" class="form-control" />
                    <ValidationMessage For="() => Pets.Breed" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Age:</label>
                    <InputNumber id="age" @bind-Value="Pets.Age" class="form-control" />
                    <ValidationMessage For="() => Pets.Age" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="sex" class="form-label">Sex:</label>
                    <InputText id="sex" @bind-Value="Pets.Sex" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Pets.Sex" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="vaccinated" class="form-label">Vaccinated:</label>
                    <InputCheckbox id="vaccinated" @bind-Value="Pets.Vaccinated" class="form-check-input" />
                    <ValidationMessage For="() => Pets.Vaccinated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="temperamentwcats" class="form-label">TemperamentWCats:</label>
                    <InputCheckbox id="temperamentwcats" @bind-Value="Pets.TemperamentWCats" class="form-check-input" />
                    <ValidationMessage For="() => Pets.TemperamentWCats" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="temperamentwdogs" class="form-label">TemperamentWDogs:</label>
                    <InputCheckbox id="temperamentwdogs" @bind-Value="Pets.TemperamentWDogs" class="form-check-input" />
                    <ValidationMessage For="() => Pets.TemperamentWDogs" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="temperamentwchildren" class="form-label">TemperamentWChildren:</label>
                    <InputCheckbox id="temperamentwchildren" @bind-Value="Pets.TemperamentWChildren" class="form-check-input" />
                    <ValidationMessage For="() => Pets.TemperamentWChildren" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Pets.Description" class="form-control" />
                    <ValidationMessage For="() => Pets.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="Pets.Price" class="form-control" />
                    <ValidationMessage For="() => Pets.Price" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/pets">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Pets? Pets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Pets ??= await context.Pets.FirstOrDefaultAsync(m => m.Id == Id);

        if (Pets is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePets()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Pets!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PetsExists(Pets!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/pets");
    }

    private bool PetsExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Pets.Any(e => e.Id == id);
    }
}
