@page "/pets"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorSignalRApp.Models
@using BlazorSignalRApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorSignalRApp.Data.BlazorSignalRAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="pets/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Pets">
    <PropertyColumn Property="pets => pets.Name" />
    <PropertyColumn Property="pets => pets.BirthDate" />
    <PropertyColumn Property="pets => pets.HealthStatus" />
    <PropertyColumn Property="pets => pets.Breed" />
    <PropertyColumn Property="pets => pets.Age" />
    <PropertyColumn Property="pets => pets.Sex" />
    <PropertyColumn Property="pets => pets.Vaccinated" />
    <PropertyColumn Property="pets => pets.TemperamentWCats" />
    <PropertyColumn Property="pets => pets.TemperamentWDogs" />
    <PropertyColumn Property="pets => pets.TemperamentWChildren" />
    <PropertyColumn Property="pets => pets.Description" />
    <PropertyColumn Property="pets => pets.Price" />

    <TemplateColumn Context="pets">
        <a href="@($"pets/edit?id={pets.Id}")">Edit</a> |
        <a href="@($"pets/details?id={pets.Id}")">Details</a> |
        <a href="@($"pets/delete?id={pets.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorSignalRAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
